/* Body background */
body{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/92f0f835746185.57029469c3a92.gif");
 
  height: auto;
}
/* Home Page */
.Homepage{
  margin-top: 10%;
  height: 100vh;
}
/* Navigation Bar Page */
.navbar{
  top: 0;
  padding: 20px 20px;
  position: sticky;
  overflow: hidden;
  background-color: #333;
  color: white;
}
.navbar-item {
  color: white;
}
/* Saturday Page */
.Saturday-Page{
  
  margin:50px;
}
.card-img-top{
  height: 70vh;
}
.card-img-bottom{
  height: 70vh;
}
.card-header{
  background-color: #aec6cf;
}
/* Sunday Page */
.Sunday-Page{
 
  margin:50px;
}
.card-img-sun1{
  height: 30vh;
  
}
.card-img-sun2{
  height: 30vh;
}
.card-img-sun3{
  height: 30vh;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
